# Virtual environments
venv/
gridflow-env/

# Compiled Python files
__pycache__/
*.pyc

# Logs and data directories
logs/
*.log
cmip6_data/
cmip6_data_cropped/
cmip6_data_clipped/
metadata/
*.tmp

# Build artifacts
dist/
build/
*.egg-info/

# Testing and coverage artifacts
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Miscellaneous
.gitignore