include README.md
include LICENSE.txt
include gui.py
include gridflow/*.py
include gridflow/downloader/*.py
include tests/*.py
include iowa_border/*
include api/*.py
include gui/*.py
include run.py
include run_gui.py
include Procfile